<div class="contents_new">
  <div class="cmnt">
    <%= form_tag('/tweets', method: :post) do %>
      <h3>
        ツイートする
      </h3>
      <input type="text" name="image" placeholder="Image Url">
      <input type="text" name="text" placeholder="Single Word">
      <input id="tweet_btn" type="submit" value="SEND">
    <% end %>
  </div>
</div>