<div class="contents_new">
  <%= form_tag('/tweets', method: :post) do %>
    <h3>
      ツイートする
    </h3>
    <input type="text" name="name" placeholder="Nickname">
    <input type="text" name="image" placeholder="Image Url">
    <input type="text" name="text" placeholder="Single Word">
    <input type="submit" value="SEND">
  <% end %>
</div>