<div class = "contents row">
  <p class="show_name"><%= @nickname %>さんの投稿一覧</p>
  <% @tweets.each do |tweet| %>
    <div class="content_post" style="background-image: url(<%= tweet.image %>);">
      <div class="word">
        <%= simple_format(tweet.text) %>
      </div>
    </div>
  <% end%>
  <%= paginate(@tweets) %>
</div>