header.header {
  height: 190px;
  background-color: white;
}

.grid-6 {
  font-size:55px;
  text-align:center;
  padding-top: 20px;
  height: 120px;
  background-color: white;
}

.header__bar {
  width: 100%;
  position: fixed;
  background-color: white;
  height: 190px;
  z-index: 5;
}

h1 a {
  color: #444444;
  font-size: 50px;
}

.user_nav {
  background-color: #444444;
  height: 70px;
}

.user_nav a {
  float: right;
  font-size: 30px;
  margin: 15px 100px 0 0;
  color: white;
}

.select {
  margin-left: auto;
}

.select a {
  color: #444444;
  font-size: 28px;
  font-weight: 550;
  margin-left:80%;
  margin-top: 30px;
}

.current_name {
  float: right;
  font-size: 30px;
  margin: 15px 130px 0 0;
  color: white;
}

.more {
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 2;
  width: 80px;
  text-align: right;
  display: flex;
  flex-direction: column;
  text-shadow: 0 0 2px #000;
}

.more a {
  color:#DDDDDD	;
}

.arrow {
  position: absolute;
  right: 235px;
  top:145px;
}

.select {
  list-style-type: none;
}

.select li {
  width: 20%;
  float: right;
  text-align: center;
  margin-right:40px;
}

.select li a {
  display: block;
  margin: 0;
  padding: 13px 0;
  color: #fff;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
}

.select li:hover > a{
  color: #444444;
  font-size:30px;
}

.grid {
  background-color: #444444;
  height: 70px;
}

a {
  text-decoration: none;
}

.contents {
  text-align:center;
}

.contents_new {
  padding: 16px 8px;
  margin:60px auto;
  color: #FFF;
  background:#FFF ;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  height: 350px;
  width: 650px;
}

h3 {
  color: #444444;
  text-align:center;
  font-size:25px;
  margin:20px 0 15px 0;
}

input {
  padding: 0.5em 1em;
  margin: 10px 30px;
  font-weight: bold;
  border: solid 2px #AAAAAA;
  width: 90%;
  border-radius:5px;
  height: 50px;
}

input#user_remember_me {
  height:30px
}

input#user_email {
  width:60%;
  text-align:center;
  margin:5px;
}

input#user_password {
  width:60%;
  text-align:center;
  margin:5px;
}

input[name="commit"] {
  width:60%;
  text-align:center;
  margin:5px;
}

input[name="text"] {
  width: 90%;
}

input#user_nickname {
  width:60%;
  text-align:center;
  margin:5px;
}

input#user_password_confirmation {
  width:60%;
  text-align:center;
  margin:10px;
}

input#tweet_btn {
  background-color:#444444;
  padding: 0.5em 1em;
  margin: 30px 110px;
  font-weight: bold;
  border: solid 2px #AAAAAA;
  width: 65%;
  border-radius:5px;
  text-align:center;
  color: white;
}

.content_post {
  height: 400px;
  width: 650px;
  margin: 40px auto;
  background-size: cover;
  box-shadow: 10px 15px 15px -10px;
  border-radius: 4px;
  position: relative;
}

.word {
  color: white;
  position: absolute;
  left: 10px;
  right: 400px;
  bottom: 30px;
  margin: 0;
  font-size: 22px;
  z-index: 2;
  font-weight: bold;
  text-shadow: 0 0 2px #000, 0 0 1px #000, 0 0 1px #000;
}

.name a {
  color: white;
  position: absolute;
  right:60px;
  bottom: 30px;
  z-index: 2;
  font-size: 17px;
  text-shadow: 0 0 2px #000, 0 0 1px #000, 0 0 1px #000;
}

.success {
  text-align:center;
}

.success h2 {
  margin: 40px 0;
}

.back__btn {
  color: #444444;
  font-size: 15px;
}

.log {
  padding: 16px 8px;
  margin:30px auto;
  color: #444444;
  background:#FFF ;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  height: 500px;
  width: 750px;
  text-align: center;
}

.show_name {
  font-size: 25px;
  margin-top: 35px;
  color: #444444;
}

.success {
  margin-top: 35px;
}

input#comment_sp {
  width: 90%;
  margin-top:40px;
}

input#submit_btn {
  background-color:#444444;
  padding: 0.5em 1em;
  margin: 25px 110px;
  font-weight: bold;
  border: solid 2px #AAAAAA;
  width: 65%;
  border-radius:5px;
  text-align:center;
  color: white;
}

.comment {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  width: 650px;
  margin: auto;
}

.comment h4 {
  font-size:18px;
}

.comments p {
  color:#444444;
  margin-bottom:5px;
}

.comments a {
  color:#444444;
}

.pagination {
  color: red;
  font-size: 20px;
  margin: 80px auto;
}

.pagination a {
  color: #444444;
}

footer {
  text-align:center;
  margin: 100px 0 70px auto;
}