header.header {
  height: 190px;
  background-color: white;
}

.grid-6 {
  font-size:55px;
  text-align:center;
  padding-top: 20px;
  height: 120px;
  background-color: white;
}

.header__bar {
  width: 100%;
  position: fixed;
}

h1 a {
  color: #444444;
}

.user_nav {
  background-color: #444444;
  height: 70px;
}

a {
  text-decoration: none;
}

a.post {
  float: right;
  font-size: 28px;
  margin: 15px 150px 0 0;
  color: white;
}

.contents {
  text-align:center;

}

.contents_new {
  padding: 16px 8px;
  margin:40px auto;
  color: #FFF;
  background:#FFF ;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  height: 550px;
  width: 800px;
}

h3 {
  color: #444444;
  text-align:center;
  font-size:25px;
}

input {
  padding: 0.5em 1em;
  margin: 10px 36px;
  font-weight: bold;
  border: solid 2px #AAAAAA;
  width: 90%;
  border-radius:5px;
}

textarea[name="text"] {
  padding: 0.5em 1em;
  margin: 10px 36px;
  font-weight: bold;
  border: solid 2px #AAAAAA;
  width: 90%;
  border-radius: 5px;
}

input[type="submit"] {
  background-color:#444444;
  padding: 0.5em 1em;
  margin: 10px 36px;
  font-weight: bold;
  border: solid 2px #AAAAAA;
  width: 90%;
  border-radius:5px;
}

.content_post {
  height: 400px;
  width: 650px;
  margin: 40px auto;
  background-size: cover;
}

.text__name {
  color: white;
  display: flex;
  margin-left: 40px;
  padding-top: 50%;
  font-size: 20px;
  text-shadow: 0 0 2px #000, 0 0 1px #000, 0 0 1px #000;
}

.text__name >:first-child {
  margin-right: 350px;
}

.success {
  text-align:center;
}

.success h2 {
  margin-top: 30px;
}

.back__btn {
  color: #444444;
}











footer {
  text-align:center;
  margin: 100px;
}